/****** General ***********/

* {
  box-sizing: border-box; /* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/*navigation*/
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-top: 25px;
  padding-left: 45px;
}
img#logo {
  height: 55px;
}
/********** navigation ***************/
img#logo {
  width: 70px;
  height: 20px;
  margin-left: -45px;
}
ul.menu {
  display: flex;
  font-weight: 500;
}
ul.menu:hover {
  font-weight: 500;
}
li.hebergements,
li.activites {
  width: 200px;
  text-align: center;
  padding-top: 20px;
}
li.hebergements:hover a,
li.activites:hover a,
li.hebergements:focus a,
li.activites:focus a,
li.hebergements:active a,
li.activites:active a {
  color: #0065fc;
}
li.hebergements:hover,
li.activites:hover,
li.hebergements:focus,
li.activites:focus,
li.hebergements:active,
li.activites:active {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
/*Le titre*/
.trouver {
  margin-top: 50px; /* espace la marge du haut */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.trouver h2,
.trouver p {
  margin: 6; /* espace entre h2 et p */
  margin-left: 0px; /* espace marge gauche */
}
/*Le titre*/
/*Le formulaire de recherche*/
form {
  display: flex; /*met l'éléments de recherche à l'horizontal*/
  margin-top: 30px;
}
form img {
  width: 50px; /* Ajuste la taille de l'icône */
  height: 49px;
}
input#rechercher {
  border: 1px solid #f2f2f2; /*bordure*/
  outline: none;
  font-weight: bold;
}
input[type="submit"] {
  color: #ffffff; /*couleur de texte du bouton*/
  font-weight: bold; /*style de texte du bouton*/
  border-radius: 0 15px 15px 0; /*arrondit le côté droit du bouton*/
  background-color: #0065fc; /*couleur de fond du bouton*/
  border: none;
  padding: 0px 15px;
}
.loupe {
  display: none; /*cache la loupe en mode bureau*/
}
/*Le formulaire de recherche*/

/*Les filtres*/
.bardefiltres__boutons {
  display: flex;
}
button.bouton {
  border-radius: 25px; /*arrondi les angles*/
  background-color: #ffffff; /*le fond du bouton*/
  font-weight: bold; /*Texte en gras*/
  border: 2px solid #d9d9d9;
  display: flex; /* Active Flexbox pour un alignement précis */
  align-items: center; /* Centre verticalement le contenu (icône et texte) */
  justify-content: center; /* Centre horizontalement le contenu */
  gap: 10px; /* Espace entre l'icône et le texte */
  padding-left: 10px; /* Espace gauche */
  padding-right: 13px; /* Espace droite */
  margin-right: 15px; /* espacement entre les boutons */
  padding-top: 4px;
  padding-bottom: 4px;
}
button:hover {
  /* permet de mettre une couleur au survole du bouton */
  background-color: #deebff; /* couleur du fond */
}
button.bouton img {
  width: 20px; /* Taille de l'icône */
  height: auto; /* Maintient les proportions */
}
section.filtres {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
}
/*Les filtres*/

/*info-bar*/
.information {
  display: flex; /*met l'éléments de recherche à l'horizontal*/
  align-items: center; /*permet de centrer l'image/logo*/
  margin-top: 20px;
}
.information img {
  margin-right: 10px;
}
/*info-bar*/

/*Hébergement à Marseille*/
h2.hebergement {
  margin-top: -4px;
  margin-bottom: 83px;
  margin-left: 30px;
}
.carte {
  margin-left: 10px;
  display: flex;
  flex-direction: column; /*colonne*/
  justify-content: space-between; /*espacement*/
  gap: 5px; /*taille des espacement*/
}
.premiereligne {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -50px;
}
.deuxiemeligne {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.affichezplus {
  margin-top: 30px;
  margin-left: 25px;
}
.marseille {
  margin-top: -20px; /*alignement de la marge avec "Les plus populaires*/
}
.hotelauberge {
  background-color: white;
  border-radius: 20px;
  width: 250.33px;
  height: 207.25px;
  padding: 5px;
}
.hotelauberge div > * {
  margin: 0px; /* Supprime toutes les marges */
  padding: 0px; /* Supprime les espacements internes, si nécessaire */
}
.hotelauberge img {
  width: 240px;
  height: 124px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
/*Hébergement à Marseille*/
/*activité à Marseille*/
.marseille {
  margin-bottom: 50px;
  margin-left: 55px;
}
.marseilleun {
  margin-bottom: 30px;
  margin-left: 0px;
}
.activite {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.portfortparcdame img {
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 370px;
  object-fit: cover; /*permet que l'image ne soit pas déformé*/
}
article.portfortparcdame {
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}
h3.cartehote {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
/*activité à Marseille*/
/*pieddepage*/
.pieddepage {
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 5px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 10px;
  gap: 235px; /*espacement entre les colonnes*/
}
footer {
  background-color: #f2f2f2; /*fond du pied de page*/
}
.fond {
  display: flex;
  flex-direction: column; /* Organise les éléments verticalement */
  margin: 10px; /* Ajoute de l'espace autour de la colonne */
  gap: 15px; /*espacement entre les colonnes*/
  margin-top: -15px; /*marge du fond*/
  margin-bottom: -15px;
}
.fond h3 {
  margin-bottom: 10px; /* Espace entre le titre et le texte */
}
h3.apropos {
  margin-bottom: initial;
}
/*pied de page*/
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 70px;
  flex-wrap: wrap; /* Permet de gérer les petits écrans */
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  /********déjà inclu dans le projet**********/
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /******navigation******/
  img#logo {
    width: 70px;
    height: 20px;
    margin-left: 10px;
    /***titre***/
  }
  .trouver {
    margin-left: 55px;
  }
  /***barre rechercher*****/
  form {
    margin-left: 55px;
  }
  /***filtres*****/
  section.filtres {
    margin-left: 55px;
    /***information*****/
  }
  .information {
    margin-left: 55px;
  }

  /****hebergement à marseille****/
  h2.hebergement {
    margin-top: -4px;
    margin-bottom: 70px;
  }
  .hotelauberge img {
    height: 110px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%
  }
  h3 {
    font-size: 16px;
  }
  .premiereligne {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .hotelauberge {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
  }
  /***les plus populaires***/
  .populaires-cards {
    display: flex;
    gap: 30px;
  }
  /****activité à marseille****/
  .portfortparcdame img {
    border-radius: 20px 20px 0 0;
    height: 160px;
    object-fit: cover;
    width: 100%;
  }
  h3.cartehote {
    font-size: 14px;
    margin-left: 20px;
  }
  .pieddepage {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 5px;
    display: flex;
    gap: 50px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  /* ... */
  /*navigation*/
  img#logo {
    width: 70px;
    height: 20px;
    margin-left: -10px;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  /* menu */
  ul.menu {
    display: flex;
    justify-content: space-between;
  }
  li.hebergements,
  li.activites {
    flex: auto;
    width: 100%;
    justify-content: space-around;
    border-bottom: 4px solid #f2f2f2;
    padding-bottom: 20px;
  }
  li.hebergements:hover,
  li.activites:hover,
  li.hebergements:focus,
  li.activites:focus,
  li.hebergements:active,
  li.activites:active {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }
  li.hebergements:hover a,
  li.activites:hover a,
  li.hebergements:focus a,
  li.activites:focus a,
  li.hebergements:active a,
  li.activites:active a {
    color: #0065fc;
  }
  /*navigation*/
  /*titre*/
  .trouver {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .trouver h2 {
    font-size: 16px;
  }
  .trouver p {
    font-size: 11px;
  }
  /*barre rechercher*/
  form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  input[type="submit"] {
    display: none;
  }
  .loupe {
    display: block;
  }
  /*barre rechercher*/

  /*filtres*/
  .bardefiltres__boutons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-left: 8px;
  }
  button.bouton {
    border-radius: 25px;
    background-color: #ffffff;
    font-weight: bold;
    border: 2px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 115px;
  }
  section.filtres {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  p.taille {
    font-size: 10px;
  }
  /*information*/
  .information {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-top: 20px;
  }
  /*Hebergement à marseille*/
  .affichezplus {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: -190px;
  }
  h2.hebergement {
    margin-bottom: 70px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-left: -0px;
  }
  .section-title {
    margin: 0;
    font-size: 20px;
  }
  .premiereligne,
  .deuxiemeligne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-right: -60px;
    margin-left: -60px;
  }
  .hotelauberge {
    background-color: white;
    border-radius: 20px;
    height: 207.25px;
    width: auto;
    padding: 5px;
  }
  .hotelauberge img {
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 280px;
  }
  .hebergements-and-populaires section {
    background-color: #ffffff;
    border-radius: 0px;
    padding: 30px;
    box-sizing: border-box;
  }
  /*hebergement à marseille*/

  /*les plus populaires*/
  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    gap: 20px;
    width: 250px;
  }
  .populaires-title {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  /*les plus populaires*/

  /*activité à marseille*/
  h3.cartehote {
    margin-left: 12px;
  }
  .portfortparcdame img {
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 120px;
    object-fit: cover;
  }
  article.portfortparcdame {
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-left: 60px;
  }
  .activite {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -20px;
    margin-left: -60px;
    flex-wrap: wrap;
  }
  .marseille {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-left: -60px;
    margin-bottom: 40px;
  }
  /*activité à marseille*/
  /*info*/
  .pieddepage {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 5px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-bottom: 100px;
  }
  .fond {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  /*info*/
}
/* Small devices (phones) */
